# Site Configuration
NUXT_PUBLIC_SITE_URL="https://vigarp.id"

# Google Calendar (Class Schedule)
NUXT_PUBLIC_GOOGLE_CALENDAR_DIRECT_URL="https://calendar.google.com/calendar/u/0/r?cid=MTM3NzgzMjA3Yzc3MGUxMTQ2YjUyNWFiNzZmZDY4NGM0ZjY5NjEzYjEyYjkwNzc4ZjFhMmQ3ODdkNWYxMTA0YkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t"

# Command Hub Secret Passcode (6 digits) - REQUIRED
HUB_SECRET_PASSCODE=""

# Private Hub Services (Shielded Endpoints)
HUB_ACTUAL_BUDGET_URL="https://budget.vigarp.id"
HUB_BESZEL_URL="https://beszel.vigarp.id"
HUB_TRAEFIK_URL="https://traefik.vigarp.id"
HUB_PORTAINER_URL="https://portainer.vigarp.id"
